/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;600;700;800&family=Press+Start+2P&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight:300;
}